.app {
  padding: 30px;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
}

.app > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}